<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>SCRABBLER</title>
    </head>
    <body>
        <div class="container">
            <h1>GITCHER SCRABBLER SCORE</h1>
            <p>N'R A WURD</p>
        <form action="/results" method="post">
        <div class="row">
                <label for="input">chek yor scrabbles word her:</label>
                <input id="input" name="input" type="text" maxlength="3" required>
            <div>
                <button type="submit" class="btn-primary">Chek yer score!</button>
            </div>
        </div>
        </form>
    </div>
    </body>
</html>
