<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Scrabble</title>
    </head>
    <body>
        <div class="container">
            <h1> GITCHER SCRABBLER SCORE </h1>
            <p> N'R A WURD </p>
        </div>
        <form class="center" action="/form" method="post">
        <div class="row">
            <div class="form-group">
                <label for="input">Chek yor scrabbles word her:</label>
                <input id="input" name="input" type="text" maxlength="3" required>
            </div>
            <div>
                <button type="submit" class="btn-primary">Chek yer score!</button>
            </div>
        </div>
    </body>
</html>
