<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Scrabble</title>
    </head>
    <body>
        <div class="container">
            <h1> GITCHER SCRABBLER SCORE </h1>
            <p> N'R A WURD </p>
        </div>
        <form class="center" action="/generate" method="post">
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="big_string">Enter original phrase:</label>
                <input id="big_string" name="big_string" type="text" maxlength="200" required>
            </div>
        </div>
    </body>
</html>
